<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494873553334-okhkm6fkerporkvi34o2orphi5t1n24i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494873553334-okhkm6fkerporkvi34o2orphi5t1n24i</string>
	<key>API_KEY</key>
	<string>AIzaSyBXPm6Tmyu4czGeMnryAl8p0mnvv6qeXRU</string>
	<key>GCM_SENDER_ID</key>
	<string>494873553334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.achieversApp</string>
	<key>PROJECT_ID</key>
	<string>achievers-app-147e9</string>
	<key>STORAGE_BUCKET</key>
	<string>achievers-app-147e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494873553334:ios:e089a5675f8ba451567917</string>
</dict>
</plist>